<?xml version='1.0' encoding='utf-8' ?>
<widget id="pro.hita.generadorInformes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Generador de Informes</name>
    <description>Ejemplo del libro: un sistema sencillo que devuelve un informe sobre el usuario</description>
    <author email="ignaciohita@gmail.com" href="http://www.hita.pro">Jose Ignacio Hita Barraza</author>
    <content src="index.html" />

    <platform name="android">
        <allow-intent href="market:*" />

        <icon density="ldpi" src="www/img/icon/icon36x36.png" />
        <icon density="mdpi" src="www/img/icon/icon48x48.png" />
        <icon density="hdpi" src="www/img/icon/icon72x72.png" />
        <icon density="xhdpi" src="www/img/icon/icon96x96.png" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <icon width="57" height="57" src="www/img/icon/icon57x57.png" />
        <icon width="72" height="72" src="www/img/icon/icon72x72.png" />
        <icon width="114" height="114" src="www/img/icon/icon114x114.png" />
        <icon width="144" height="144" src="www/img/icon/icon144x144.png" />
    </platform>

    <engine name="android" spec="^4.0.0" />
</widget>
